fieldset {
	background-color: #eeeeee;
	font-family: verdana;
	font-size:12px
}

legend {
	background-color: gray;
	color: white;
	padding: 5px 10px;
}

input {
	margin: 7px;
}


/* CSS element selector */
p {
  font-family: arial;
  font-size: 12px;
}

/* CSS ID selector */
#textal {
  text-align: left;
  color: gray;
  text-decoration: navy;
}

/* CSS Class selector */
.radiobutton {
	font-size:12px;
	color: gray;
}

p.inset {
	border-style: inset;
	}

p.center {
  text-align: center;
  color: blue;
}

